# Google Apps Script Web App Deployment URL
NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbysCD7FNRG0gzuu3LKrqCGjtv2GwmcgIvHEXkrsNbc5gDKrs3H8kJEMtKGd2k450wl3/exec

# (Optional) Google Gemini API Key for AI features
# NEXT_PUBLIC_GEMINI_API_KEY=your_gemini_api_key_here
